<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <title>{% block title %}NCAA Baseball Stats{% endblock %}</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <div>
      <section id="heading">
        <span>NCAA Baseball Stats</span>
      </section>
      <nav>
        <a class="navelement button-link" href="{% url 'home' %}" aria-label="Home">Home</a>
        <a class="navelement button-link" href="{% url 'all_teams' %}" aria-label="Teams">Teams</a>
      </nav>
    </div>
  </header>

  <main>
    <div>
      <div>
        {% block content %}
        <div>
          <div>
            <h2>Welcome to NCAA Baseball Stats</h2>
            <p>Stay up to date with the latest stats and information.</p>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <p>NCAA Baseball Stats</p>
  </footer>
</body>
</html>