{% extends "base.html" %}

{% block title %}{{ conference_name }} Stats - NCAA Baseball Stats{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css">
<section>
    <div class="welcome">
        <h1 class="welcome-el">{{ conference_name }} Stats</h1>
        <div role="tablist">
            <div>
                <div class="two-buttons welcome-el">
                    <button class="button-link button" onclick="showTab('batting')" id="batting-tab" role="tab" aria-selected="true" tabindex="0">
                        <span>Batting Stats</span>
                    </button>
                    <button class="button-link button" onclick="showTab('pitching')" id="pitching-tab" role="tab" aria-selected="false" tabindex="-1">
                        <span>Pitching Stats</span>
                    </button>
                </div>
            </div>
        </div>
        
        <div>
            <div id="batting-stats-content">
                <h2>Batting Stats</h2>
                {% if batting_stats %}
                <table>
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Name</th>
                            <th>Grade</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 3)">G</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 4)">PA</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 5)">HR</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 6)">SB</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 7)">BB%</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 8)">K%</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 9)">ISO</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 10)">BABIP</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 11)">AVG</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 12)">OBP</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 13)">SLG</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 14)">wOBA</th>
                            <th onclick="sortTable(event, 'batting-stats-content', 15)">wRC+</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in batting_stats %}
                        {% if stat.qualified %}
                        <tr>
                            <td>
                                <a href="{% url 'team_stats' team_id=stat.player.team.id %}">{{ stat.player.team.name }}</a>
                            </td>
                            <td>{{ stat.player.name }}</td>
                            <td>{{ stat.player.grade }}</td>
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.pa }}</td>
                            <td>{{ stat.hr }}</td>
                            <td>{{ stat.sb }}</td>
                            <td>{{ stat.bb_percentage }}</td>
                            <td>{{ stat.k_percentage }}</td>
                            <td>{{ stat.iso }}</td>
                            <td>{{ stat.babip }}</td>
                            <td>{{ stat.avg }}</td>
                            <td>{{ stat.obp }}</td>
                            <td>{{ stat.slg }}</td>
                            <td>{{ stat.woba }}</td>
                            <td>{{ stat.wrc_plus }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No batting stats available.</p>
                {% endif %}
            </div>
          
            <div id="pitching-stats-content" style="display: none;">
                <h2>Pitching Stats</h2>
                {% if pitching_stats %}
                <table>
                    <thead>
                        <tr>
                            <th>Team</th>
                            <th>Name</th>
                            <th>Grade</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 3)">G</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 4)">GS</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 5)">IP</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 6)">K/9</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 7)">BB/9</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 8)">HR/9</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 9)">BABIP</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 10)">ERA</th>
                            <th onclick="sortTable(event, 'pitching-stats-content', 11)">FIP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in pitching_stats %}
                        {% if stat.qualified %}
                        <tr>
                            <td>
                                <a href="{% url 'team_stats' team_id=stat.player.team.id %}">{{ stat.player.team.name }}</a>
                            </td>
                            <td>{{ stat.player.name }}</td>
                            <td>{{ stat.player.grade }}</td>
                            <td>{{ stat.g }}</td>
                            <td>{{ stat.gs }}</td>
                            <td>{{ stat.ip }}</td>
                            <td>{{ stat.k_per_9 }}</td>
                            <td>{{ stat.bb_per_9 }}</td>
                            <td>{{ stat.hr_per_9 }}</td>
                            <td>{{ stat.babip }}</td>
                            <td>{{ stat.era }}</td>
                            <td>{{ stat.fip }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No pitching stats available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script>
    function showTab(tabName) {
        // Hide both tabs
        document.getElementById('batting-stats-content').style.display = 'none';
        document.getElementById('pitching-stats-content').style.display = 'none';
        document.getElementById('batting-tab').setAttribute('aria-selected', 'false');
        document.getElementById('pitching-tab').setAttribute('aria-selected', 'false');

        // Show the selected tab
        if (tabName === 'batting') {
            document.getElementById('batting-stats-content').style.display = 'block';
            document.getElementById('batting-tab').setAttribute('aria-selected', 'true');
        } else {
            document.getElementById('pitching-stats-content').style.display = 'block';
            document.getElementById('pitching-tab').setAttribute('aria-selected', 'true');
        }
    }

    function sortTable(event, tableId, col) {
        var table = event.target.closest('table');
        var rows = Array.from(table.getElementsByTagName('tr'));
        var header = rows.shift();
        var dir = table.getAttribute('data-dir') || 'desc';

        quickSort(rows, 0, rows.length - 1, col, dir);

        dir = dir == 'desc' ? "asc" : "desc";
        table.setAttribute('data-dir', dir)

        table.innerHTML = '';
        table.appendChild(header);
        rows.forEach(function(row) {
            table.appendChild(row);
        });
    }

    function quickSort(arr, left, right, col, dir) {
        if (left < right) {
            var pivotIndex = partition(arr, left, right, col, dir);
            quickSort(arr, left, pivotIndex - 1, col, dir);
            quickSort(arr, pivotIndex + 1, right, col, dir);
        }
    }

    function partition(arr, left, right, col, dir) {
        var pivot = arr[right];
        var i = left - 1;

        for (var j = left; j < right; j++) {
            var xValue = getValueFromCell(arr[j].getElementsByTagName("TD")[col]);
            var yValue = getValueFromCell(pivot.getElementsByTagName("TD")[col]);

            if ((dir === "asc" && xValue <= yValue) || (dir === "desc" && xValue >= yValue)) {
                i++;
                swap(arr, i, j);
            }
        }

        swap(arr, i + 1, right);
        return i + 1;
    }

    function swap(arr, i, j) {
        var temp = arr[i];
        arr[i] = arr[j];
        arr[j] = temp;
    }

    function getValueFromCell(cell) {
        return isNaN(parseFloat(cell.textContent)) ? cell.textContent.toLowerCase() : parseFloat(cell.textContent);
    }
</script>
{% endblock %}