{% extends "base.html" %}

{% block title %}Home - College Baseball Stats{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css">
<section>
  <div id="welcome">
    <h2 class="welcome">Welcome to the College Baseball Stats Portal</h2>
    <p class="welcome">Your premier source for stats, data, and insights into college baseball.</p>
    <a id="explore-teams" class="welcome" style="display: block" href="{% url 'all_teams' %}">Explore Teams</a>
  </div>
</section>

<section class="grid-container">
  <div id="stats" class="grid-element">
    <h3>Comprehensive Stats</h3>
    <p>Access detailed statistics for teams, players, and games.</p>
  </div>
  <div id="analysis" class="grid-element">
    <h3>In-Depth Analysis</h3>
    <p>Gain insights and trends through advanced analytics.</p>
  </div>
  <div id="profiles" class="grid-element">
    <h3>Player Profiles</h3>
    <p>Explore detailed information about your favorite players.</p>
  </div>
</section>
{% endblock %}
