{% extends "base.html" %}

{% block title %}Teams - NCAA Baseball Stats{% endblock %}

{% block content %}
<div class="tabs">
    {% if divisions %}
        <div class="tab-links">
            {% for division in divisions %}
            <button class="tab-link" onclick="openDivision(event, 'division-{{ division.id }}')" {% if forloop.first %}id="defaultOpen"{% endif %}>
                Division {{ division.id }}
            </button>
            {% endfor %}
        </div>

        {% for division in divisions %}
        <div id="division-{{ division.id }}" class="tab-content" style="{% if not forloop.first %}display: none;{% endif %}">
            <a href="{% url 'division_stats' division_id=division.id %}" class="view-division-stats">View Stats by Division</a>
            <div class="grid">
                {% for conference in division.conferences|dictsort:"name" %}
                    <div class="grid-item">
                        <table class="conference-table">
                            <thead>
                                <tr>
                                    <th colspan="3">{{ conference.name }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in conference.teams %}
                                <tr>
                                    <td>{{ team.name }}</td>
                                    <td><a href="{% url 'team_stats' team_id=team.id %}" class="view-stats">View Stats</a></td>
                                </tr>
                                {% endfor %}
                                <tr class="view-all">
                                    <td colspan="3"><a href="{% url 'conference_stats' conference_id=conference.id %}" class="view-conference-stats">View Conference Stats</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No divisions available.</p>
    {% endif %}
</div>

<script>
function openDivision(evt, divisionId) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab-link");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(divisionId).style.display = "block";
    evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>
{% endblock %}