body { 
    color: white;
    background-color: rgb(25, 25, 25);
    margin: 0px;
    font-family: helvetica;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

main {
    margin: 150px 0px 0px 0px;
}

#heading {
    padding: 35px;
    text-align: center;
    font-size: large;
    border-color: rgb(100, 100, 100);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}
nav {
    padding: 17px 0px;
    border-color: rgb(100, 100, 100);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.navelement {
    padding: 8px;
    margin: 0px 5px;
    border-color: rgb(100, 100, 100);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

footer {
    padding: 10px;
    border-color: rgb(100, 100, 100);
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#welcome {
    margin: 50px 0px;
}

.welcome {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas: 'stats analysis profiles';
    gap: 10px;
    margin: 50px;
}

.grid-element {
    padding: 8px;
    border-color: rgb(100, 100, 100);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

#stats {
    grid-area: stats;
}

#analysis {
    grid-area: analysis;
}

#profiles {
    grid-area: profiles;
}
