body { 
    color: white;
    background-color: rgb(35, 35, 35);
    margin: 0px;
    font-family: helvetica;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

main {
    margin: 200px 0px 0px 0px;
}

#heading {
    padding: 35px;
    text-align: center;
    font-size: large;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(100, 100, 100);
    border-width: 0px 0px 1px 0px;
    border-style: solid; */
}
nav {
    padding: 17px 0px;
    border-color: rgb(100, 100, 100);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.navelement {
    padding: 8px;
    color: white;
    background-color: rgb(0, 80, 145);
    border-radius: 5px;
    text-decoration: none;
}

.navelement:hover {
    padding: 8px;
    color: rgb(245, 245, 245);
    background-color: rgb(0, 70, 130);
    border-radius: 5px;
    text-decoration: none;
}

.navelement:active {
    padding: 8px;
    color: rgb(235, 235, 235);
    background-color: rgb(0, 60, 120);
    border-radius: 5px;
}

footer {
    padding: 10px;
    background-color: rgb(25, 25, 25);
    /* border-color: rgb(100, 100, 100);
    border-width: 1px 0px 0px 0px;
    border-style: solid; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#welcome {
    margin: 50px 0px;
}

.welcome {
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 5px;
}

#explore-teams {
    width: 120px;
    padding: 15px;
    color: white;
    background-color: rgb(0, 80, 145);
    border-radius: 5px;
}

#explore-teams:hover {
    width: 120px;
    padding: 15px;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 70, 130);
    border-radius: 5px;
}

#explore-teams:active {
    width: 120px;
    padding: 15px;
    color: rgb(245, 245, 245);
    background-color: rgb(0, 60, 120);
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'stats analysis profiles';
    gap: 10px;
    margin: 50px;
}

.grid-element {
    padding: 8px;
    /* border-color: rgb(100, 100, 100); */
    background-color: rgb(20, 20, 20);
    border-width: 1px;
    /* border-style: solid; */
    border-radius: 7px;
    text-align: center;
}

#stats {
    grid-area: stats;
}

#analysis {
    grid-area: analysis;
}

#profiles {
    grid-area: profiles;
}
